textarea {
    resize: none;
    overflow: auto;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    border-radius: 2px;
    padding: 1pt 1px;
    box-sizing: border-box;
}

.masked_input {
    background-color: rgba(0,0,0,0);
    width: 100%;
    border-radius: 0px;
    border: none;
    margin: 0px;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: right;
}

.masked_input:hover:not(:focus) {
    background-image: url('../../assets/img/edit.png');
}

/*.masked_input:focus {
    padding: 0px 10px;
    margin: 0px;
}*/

:host, .host {
    display: inline-block;
    width: 100%;
    font-size: 10pt;
    vertical-align: middle;
}

.invalid_input {
    outline: 2px solid red;
}

[contentEditable=true] {
    max-width: 100%;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}