
<div *ngIf="tree && tree.length > 0" [ngStyle]="{marginLeft: (level ? 20 : 0) + 'px'}">
    <div
        *ngFor="let item of tree"
        [class.vertex_descendant]="item.name == 'V'"
        [class.edge_descendant]="item.name == 'E'"
        class="tree_branch"
    >
        <div>
            <div class="class_name" (click)="selectElement(item.name)">{{item.name}}</div>
            <div class="hor_spacer"></div>
            <tiny-button *ngIf="!fakeEditableChild"
                title="Создать подкласс"
                iconSrc="assets/img/add_subclass.png"
                [callback]="newSubclass.bind(this, item.name)"></tiny-button>
            <tiny-button *ngIf="!fakeEditableChild && item.name != 'V' && item.name != 'E'"
                title="Удалить класс"
                iconSrc="assets/img/close.png"
                [callback]="removeClass.bind(this, item.name)"></tiny-button>
        </div>
        <tree-branch
            [tree]="item.children"
            [level]="level + 1" 
            [selectElement]="selectElement"
        ></tree-branch>
        <div *ngIf="fakeEditableChild && item.name == newSubclassSuper"
            [ngStyle]="{marginLeft: '20px'}"
            class="tree_branch"
        >
            <div id="class_name_textfield" class="vertical_spacer_el_middle">
                <autosized-textarea
                    value=""
                    placeholder="Имя класса"
                    (input)="checkClassName($event)"
                    (change)="setNewClassName($event)"
                    [autofocus]="true"
                    [isMasked]="false"
                ></autosized-textarea>
            </div>
            <div class="vertical_spacer_el_middle">
                <tiny-button
                    title="Не создавать"
                    iconSrc="assets/img/close.png"
                    [callback]="hideFakeField.bind(this)"
                ></tiny-button>
            </div>
            <div class="vertical_spacer"></div>
        </div>
    </div>
</div>