:host {
    display: block;
}

.tree_branch {
    padding: 5px;
    cursor: default;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.05);
}

.class_name {
    font-weight: bold;
    font-size: 10pt;
    font-family: monospace;
}

.tree_branch:hover {
    background: rgba(0, 0, 0, 0.1);
}

.vertex_descendant {
    background: #ffe6c3;
}

.edge_descendant {
    background: #eaeaff;
}

.vertex_descendant:hover {
    background: #ffd294;
}

.edge_descendant:hover {
    background: #cacfff;
}