
<div *ngIf="tree && tree.length > 0" [ngStyle]="{marginLeft: (level * 20) + 'px'}">
    <div *ngFor="let item of tree">
        <div class="class_name">{{item.name}}</div>
        <tree-branch
            [tree]="item.children"
            [level]="level + 1"
        ></tree-branch>
    </div>
</div>
<!--
            [selectElement]="selectElement"
    (click)="selectElement(element.name)"
        class="tree_branch"
        
        [class.vertex_descendant]="element.name == 'V'"
        [class.edge_descendant]="element.name == 'E'"
-->