<div class="section" *ngIf="showBasicTable">
    <div>Действия над выделением:</div>
    <app-icon-button title="Дублировать" iconSrc="assets/img/duplicate.png"
        [callback]="duplicate.bind(this)"></app-icon-button>
    <app-icon-button title="Удалить" iconSrc="assets/img/red_cross.png"
        [callback]="delete.bind(this)"></app-icon-button>
    <app-icon-button title="Центрировать на выделение" iconSrc="assets/img/radar.png"
        [callback]="panToSelection.bind(this)"></app-icon-button>
    <app-icon-button title="Заблокировать/разблокировать" iconSrc="assets/img/pin_unpin.png"
        [callback]="pinUnpin.bind(this)"></app-icon-button>
    <app-icon-button title="Сбросить выделение" iconSrc="assets/img/reset_selection.png"
        [callback]="resetSelection.bind(this)"></app-icon-button>
</div>
    
<div class="section" *ngIf="showBasicTable">
    <div>Редактировать свойства выделенных 
        {{areEdges === true ? 'ребер' : (areEdges === false ? 'вершин' : 'элементов')}}:
    </div>
    <!--<div class="loading_voile_full_screen" *ngIf="expandTable"></div>-->
    <div *ngIf="!entities || entities.length == 0" class="inline_info">
        Выделение пусто.
    </div>
    <div *ngIf="entities && entities.length > 0 && !commonClass" class="inline_info">
        Выделенные элементы не разделяют общий класс.
    </div>

    <div *ngIf="entities && entities.length > 0 && commonClass" id="common_class">
        Общий класс: 
        <span *ngIf="commonClass" class="class_name">{{commonClass}}</span>
    </div>
    <div
        class="big_table"
        [class.expand_table]="expandTable"
        [ngStyle]="!expandTable && {'width': '100%', 'height': 'auto'}"
    >
        <div
            *ngIf="expandTable"
            class="expand_table_header"
        >
            <tiny-button
                title="Свернуть"
                iconSrc="assets/img/close.png"
                [callback]="toggleExpand.bind(this)"
            ></tiny-button>
        </div><!--
            (mousedown)="onmousedownExpandTable()"
            (mousemove)="onmousemoveExpandTable($event)"
            (mouseup)="onmouseupExpandTable()"
        -->
        <table *ngIf="entities && entities.length > 0"
            [class.vertices_table]="areEdges === false"
            [class.edges_table]="areEdges === true"
            [class.elements_table]="areEdges === null"
        >
            <tr>
                <td class="column_name" rowspan="2">
                    <tiny-button
                        [title]="expandTable ? 'Свернуть' : 'Развернуть'"
                        [iconSrc]="expandTable ? 'assets/img/minimize.png' : 'assets/img/maximize.png'"
                        [callback]="toggleExpand.bind(this)"
                    ></tiny-button>
                </td>
                <td 
                    *ngFor="let ownerAndColspan of classDefinedPropsColspanOwnerByOrder"
                    [attr.colspan]="ownerAndColspan.colspan"
                    class="column_name"
                >
                    <span class="class_name">{{ownerAndColspan.owner}}</span>
                </td>
            </tr>
            <tr class="edit_properties_header">
                <td class="column_name class_defined" *ngIf="areEdges">Начало</td>
                <td class="column_name class_defined" *ngIf="areEdges">Конец</td>
                <td class="column_name class_defined" *ngFor="let p of classDefinedProps | keyvalue: classPropsOrderComparator">
                    <span *ngIf="replaceAllPropName != p.key">{{p.key}}</span>
                    
                    <ng-container *ngIf="replaceAllPropName == p.key">
                        <input *ngIf="p.value.type == 'number'"
                            type="number"
                            placeholder="{{p.key}}"
                            title="{{p.key}}"
                            class="full_width"
                            (input)="setReplaceAllValue($event.target.value, p.value.type)"
                        >
                        <switch-true-false *ngIf="p.value.type == 'boolean'"
                            title="{{p.key}}"
                            (value)="setReplaceAllValue($event, p.value.type)"
                        ></switch-true-false>
                        <autosized-textarea *ngIf="p.value.type == 'string'"
                            placeholder="{{p.key}}"
                            title="{{p.key}}"
                            [isMasked]="false"
                            class="full_width"
                            (input)="setReplaceAllValue($event.target.value, p.value.type)"
                        ></autosized-textarea>
                        <date-picker *ngIf="p.value.type == 'date'"
                            title="{{p.key}}"
                            (value)="setReplaceAllValue($event, p.value.type)"
                        ></date-picker>

                        <div>
                            <tiny-button
                                iconSrc="assets/img/close.png"
                                title="Отмена"
                                [callback]="replaceAll.bind(this, null)"
                            ></tiny-button>
                            <tiny-button
                                iconSrc="assets/img/ok.png"
                                title="Заменить"
                                [callback]="applyReplaceAllValue.bind(this)"
                            ></tiny-button>
                        </div>
                    </ng-container>
                    <div>
                        <tiny-button
                            *ngIf="!replaceAllPropName"
                            iconSrc="assets/img/edit.png"
                            title="Заменить значение"
                            [callback]="replaceAll.bind(this, p.key)"
                        ></tiny-button>
                    </div>
                </td>
                <td *ngIf="commonClass && (classDefinedProps | json) == '{}'" [attr.rowspan]="entities.length + 1">
                    <div class="inline_info">
                        В классе {{commonClass}} не задано полей.
                    </div>
                </td>
                <td class="column_name free" *ngFor="let p of freeProps">
                    <span *ngIf="replaceAllPropName != p">{{p}}</span>
                    <ng-container *ngIf="replaceAllPropName == p">
                        <autosized-textarea
                            placeholder="{{p}}"
                            title="{{p}}"
                            [isMasked]="false"
                            class="full_width"
                            (input)="setReplaceAllValue($event.target.value, 'string')"
                        ></autosized-textarea>
                        <div>
                            <tiny-button
                                iconSrc="assets/img/close.png"
                                title="Отмена"
                                [callback]="replaceAll.bind(this, null)"
                            ></tiny-button>
                            <tiny-button
                                iconSrc="assets/img/ok.png"
                                title="Заменить"
                                [callback]="applyReplaceAllValue.bind(this)"
                            ></tiny-button>
                        </div>
                    </ng-container>
                    <div>
                        <tiny-button
                            *ngIf="replaceAllPropName != p"
                            iconSrc="assets/img/close.png"
                            title="Удалить"
                            [callback]="deleteFree.bind(this, p)"
                        ></tiny-button>
                        <tiny-button
                            *ngIf="!replaceAllPropName"
                            iconSrc="assets/img/edit.png"
                            title="Заменить значение"
                            [callback]="replaceAll.bind(this, p)"
                        ></tiny-button>
                    </div>
                </td>
                <td class="column_name" *ngIf="showCreateFreeField">
                    <autosized-textarea
                        placeholder="Имя свойства"
                        [isMasked]="false"
                        (change)="setNewFreePropName($event)"
                        (input)="checkNewFreePropName($event)"
                    ></autosized-textarea>
                    <tiny-button
                        iconSrc="assets/img/close.png"
                        title="Не создавать"
                        [callback]="toggleFakeField.bind(this)"
                    ></tiny-button>
                </td>
                <td *ngIf="!showCreateFreeField" class="free_prop_empty_column" [attr.rowspan]="entities.length + 1">
                    <div *ngIf="freeProps.length == 0" class="inline_info">
                        Нет общих свободных свойств.
                    </div>
                    <tiny-button
                        iconSrc="assets/img/green_plus.png"
                        title="Создать новое свободное свойство"
                        [callback]="toggleFakeField.bind(this)"
                    ></tiny-button>
                </td>
            </tr>
            <tr *ngFor="let e of entities">
                <td class="field_name element_id" (click)="panToElement(e.id)">
                    {{e.id}}
                </td>
                <td class="field_value element_id" *ngIf="areEdges" (click)="panToElement(e.source)">
                    {{e.source}}
                </td>
                <td class="field_value element_id" *ngIf="areEdges" (click)="panToElement(e.target)">
                    {{e.target}}
                </td>
                <td class="field_value"
                    *ngFor="let p of classDefinedProps | keyvalue: classPropsOrderComparator"
                    [ngStyle]="p.value.type == 'date' && {'width': 'auto'}"
                >
                    <input *ngIf="p.value.type == 'number'"
                        type="number"
                        placeholder="{{p.key}}"
                        title="[{{e.id}}] {{p.key}}"
                        class="full_width"
                        [value]="e[p.key]"
                        (input)="setPropOfExisting(e.id, p.key, $event.target.value, p.value.type)"
                    >
                    <switch-true-false *ngIf="p.value.type == 'boolean'"
                        [firstValue]="e[p.key]"
                        title="[{{e.id}}] {{p.key}}"
                        (value)="setPropOfExisting(e.id, p.key, $event, p.value.type)"
                    ></switch-true-false>
                    <autosized-textarea *ngIf="p.value.type == 'string'"
                        placeholder="{{p.key}}"
                        title="[{{e.id}}] {{p.key}}"
                        [value]="e[p.key]"
                        (input)="setPropOfExisting(e.id, p.key, $event.target.value, p.value.type)"
                    ></autosized-textarea>
                    <date-picker *ngIf="p.value.type == 'date'"
                        title="[{{e.id}}] {{p.key}}"
                        [firstValue]="e[p.key]"
                        (value)="setPropOfExisting(e.id, p.key, $event, p.value.type)"
                    ></date-picker>
                </td>
                <td class="field_value" *ngFor="let p of freeProps">
                    <autosized-textarea
                        placeholder="{{p}}"
                        title="[{{e.id}}] {{p}}"
                        [value]="e[p]"
                        (input)="setPropOfExisting(e.id, p, $event.target.value, 'string')"
                    ></autosized-textarea>
                </td>
            </tr>
        </table>
    </div>
    <code-mirror
      [value]="testCode"
      (input)="testLog($event)"
      (change)="testLog($event)"
    ></code-mirror>
</div>

<!--<div class="section" *ngIf="!showBasicTable">
    <table>
        <tr *ngFor="let cl of conn.classesMap[selectedClass].properties | keyvalue">
            <td class="field_name">
                <autosized-textarea
                    [value]="cl.key"
                    placeholder="Имя поля"
                    (change)="alterFieldName(cl.key, $event)"
                    (input)="checkInvalid($event, cl.key, true, isFieldNameInvalid.bind(this))"
                ></autosized-textarea>
            </td>
            <td class="field_value">
                <select class="masked_input" value="{{cl.value.type}}"
                    (change)="alterField(cl.key, 'type', $event.target.value)">
                    <option *ngFor="let type of conn.supportedTypes" [selected]="type == cl.value.type" 
                        value="{{type}}">{{type}}</option>
                </select>
                <tiny-button
                    title="Удалить поле"
                    iconSrc="assets/img/close.png"
                    [callback]="removeField.bind(this, cl.key)"
                ></tiny-button>
            </td>
        </tr>

        <tr *ngIf="fakeNewField">
            <td class="field_name">
                <autosized-textarea
                    placeholder="Имя поля" 
                    (change)="setNewFieldName($event)"
                    (input)="checkInvalid($event, newFieldName, true, isFieldNameInvalid.bind(this))"
                ></autosized-textarea>
            </td>
            <td class="field_value">
                <select value=""
                    (change)="setNewFieldType($event.target.value)"
                    class="full_width"
                >
                    <option selected disabled value="">Тип данных</option>
                    <option *ngFor="let type of conn.supportedTypes" value="{{type}}">{{type}}</option>
                </select>
                <tiny-button
                    title="Не создавать"
                    iconSrc="assets/img/close.png"
                    [callback]="hideFakeField.bind(this)"
                ></tiny-button>
            </td>
        </tr>
        <tr *ngIf="!fakeNewField">
            <td colspan=2 class="add_field">
                <tiny-button
                    iconSrc="assets/img/green_plus.png"
                    title="Создать новое поле"
                    [callback]="addFakeField.bind(this)"
                ></tiny-button>
            </td>
        </tr>
    </table>
</div>-->