:host {
    display: block;
    width: 100%;
}

.free {
    font-style: italic;
    text-align: left;
}

.class_defined {
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

.element_id {
    /**/background-size: 13px;
    background-repeat: no-repeat;
    background-position: 10%;
    cursor: pointer;
}

.element_id:hover {
    text-decoration: underline;
    color: #222222;
    background-image: url('../../assets/img/radar.png');/**/
}

table {
    border-collapse: collapse;
    width: 100%;
}

.edges_table tr:nth-child(odd) {
    background: #f7fcff;
}

.edges_table tr:nth-child(even) {
    background: #eaf4ff;
}

.vertices_table tr:nth-child(odd) {
    background: #fffbf6;
}

.vertices_table tr:nth-child(even) {
    background: #fff7ed;
}

.elements_table tr:nth-child(odd) {
    background: #e0e0e0;
}

.elements_table tr:nth-child(even) {
    background: #f1f1f1;
}

.free_prop_empty_column {
    background: #ffffff;
    text-align: center;
}

td {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px 3px;
    min-width: 80px;
    overflow: auto;
    vertical-align: middle;
}

td:first-child {
    text-align: center;
}

/*.field_name {
    width: 35%;
}

.field_value {
    width: 65%;
}*/

.full_width {
    width: calc(100% - 20px);
}

.inline_info {
    display: inline-block;
    width: 100%;
    padding: 5px 0px;
    text-align: center;
    font-style: italic;
}

.big_table {
    overflow: auto;
    width: 100%;
    max-width: 100%;
}

.expand_table {
    position: absolute;
    /*width: 80vw;
    height: 60vh;
    border-radius: 4px;*/
    min-width: 50vw;
    min-height: 20px;
    max-width: calc(100vw - 60px);
    max-height: 99vh;
    width: calc(100vw - 30% - 60px);
    /*left: calc(30%);
    */
    right: 60px;
    top: 0vh;
    border: 1px solid grey;
    background-color: white;
    resize: both;
    direction: rtl;
    z-index: 100;
}
.expand_table * {
    direction: ltr;
}

.expand_table_header {
    width: 100%;
    background: grey;
    height: 20px;
}

.class_name {
    font-size: 10pt;
    font-family: monospace;
    overflow-wrap: anywhere;
}

.column_name {
    font-size: 11pt;
    text-align: center;
}

#common_class {
    display: inline-block;
    padding: 10px;
}