<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div>
  <div id="start_screen" *ngIf="appView == 'start_view'">
    <div id="start_screen_top_panel">
      <div>
        <app-tile-button
          text="Новый проект"
          iconSrc="assets/img/new_database.png"
          [callback]="switchAppView.bind(this, 'new_project_view')"
        ></app-tile-button>
        <app-tile-button
          text="Открыть проект"
          iconSrc="assets/img/open.png"
          [callback]="switchAppView.bind(this, 'open_view')"
        ></app-tile-button>
      </div>
      <div>
        <span class="grey_link" (click)="switchAppView('help_view')">Справка</span>
        <span class="grey_link" (click)="quitClickListener()">Выход</span>
      </div>
    </div>

    <div id="start_screen_recent">
      <div>Недавние проекты:</div>
      <table>
        <tr *ngFor="let recentPathItem of _updateRecentService.recentPathArray; index as i">
          <td class="start_screen_recent_path_index">{{i + 1}}.</td>
          <td class="grey_link start_screen_recent_path" (click)="openRecent(recentPathItem)">{{recentPathItem}}</td>
          <td class="start_screen_recent_path_tool">
            <app-icon-button
                title="Убрать проект из списка недавних"
                iconSrc="assets/img/close.png"
                [callback]="removeFromRecent.bind(this, recentPathItem)"
            ></app-icon-button>
          </td>
          <td class="start_screen_recent_path_tool">
            <app-icon-button
                title="Удалить проект с диска (необратимо)"
                iconSrc="assets/img/delete_project.png"
                [callback]="deleteProject.bind(this, recentPathItem)"
            ></app-icon-button>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div id="new_project_dialog" *ngIf="appView == 'new_project_view'">
    <h1>Создание проекта</h1>
    <form #f="ngForm" (ngSubmit)="createProject(f)">
      <div>Имя проекта:</div>
      <input ngModel name="new_project_name" #new_project_name="ngModel" required placeholder="Имя проекта" class="dialog_textfield">
      <div class="form_error" *ngIf="new_project_name.invalid && (new_project_name.dirty || new_project_name.touched) && new_project_name.errors.required">
        Обязательное поле.
      </div>
      <div class="form_error" *ngIf="!isValidFilename(new_project_name.value)">
        Имя проекта не должно содержать символы и комбинации символов, запрещенные в вашей операционной системе.
      </div>

      <div>Сохранить в:</div>
      <app-filepath-selector
        [callback]="newProjectPathUpdateCallback"
        [selectFolders]="true"
        [multiselection]="false"
      ></app-filepath-selector>
      <div class="form_error" *ngIf="!waiting && !newProjectParentDirectory">
        Обязательное поле.
      </div>
      <div class="form_error" *ngIf="!waiting && projectFolderExists(new_project_name.value)">
        Папка или файл с именем &quot;{{new_project_name.value}}.export.gz&quot; уже существует по указанному пути. Выберите другое местоположение или измените имя проекта.
      </div>
      <app-pretty-button text="Отмена" [callback]="switchAppView.bind(this, 'start_view')"></app-pretty-button>
      <app-pretty-button
        text="Создать"
        [active]="!waiting && f.valid && !projectFolderExists(new_project_name.value) && newProjectParentDirectory && isValidFilename(new_project_name.value)"
        type="submit"
      ></app-pretty-button>
    </form>
  </div>

  <div id="open_screen" *ngIf="appView == 'open_view'">
    <h1>Открыть проект</h1>
    <app-filepath-selector
      [callback]="openProjectPathUpdateCallback"
      [selectFolders]="false"
      [multiselection]="false"
    ></app-filepath-selector>
    <div class="form_error" *ngIf="!waiting && !openProjectPath">
      Обязательное поле.
    </div>
    <div>
      Тип файла:
      <select #openGraphTypeTag>
        <option selected value="">Определить автоматически</option>
        <option value="orientdb">OrientDB export file format (формат сохранения Graphytica)</option>
        <option value="graphml">Graph XML</option>
        <option value="graphson">Graph JSON</option>
      </select>
    </div>
    <app-pretty-button text="Отмена" [callback]="switchAppView.bind(this, 'start_view')"></app-pretty-button>
    <app-pretty-button text="Открыть" [callback]="openProject.bind(this, openGraphTypeTag.value)"
      [active]="!waiting && openProjectExists() && openProjectPath"></app-pretty-button>
  </div>

  <app-main-view *ngIf="appView == 'main_view'"
    [getParams]="getParams"
    [backToStartView]="switchAppView.bind(this, 'start_view')"
    [setWaiting]="setWaiting.bind(this)"
    [reopenProject]="reopenProject.bind(this)"
  ></app-main-view>

  <div id="help_view" *ngIf="appView == 'help_view'">Экран помощи</div>
</div>
<div #waitingVoileTag class="loading_voile_full_screen">
  <div class="vertical_spacer"></div>
  <div class="vertical_spacer_el_middle">
    <img src="assets/img/loading_anim.webp" class="big_loading_anim_icon">
    <div #waitingMessageTag>Подождите, сервер запускается...</div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>