:host {
    display: block;
    width: 100%;
}

.class_name {
    font-weight: bold;
    font-size: 10pt;
    font-family: monospace;
}

table {
    border-collapse: collapse;
    border-radius: 3px;
    margin: 5px auto;
    width: 95%;
}

td {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
    width: min(auto, 70%);
    overflow: auto;
    vertical-align: middle;
}

td:first-child {
    width: 30%;
    text-align: right;
}

.masked_input {
    appearance: none;
    width: 100%;
    height: 100%;
    line-height: 100%;
    border-radius: none;
    border: none;
    padding: 0px 10px;
    margin: 0px;
}

.masked_input:hover {
    color: #222222;
}

.masked_input:focus {
    appearance: auto;
}

.readonly {
    background: #fafafa;
    color: #222222;
}