<div class="section">
    <div>Дерево классов:</div>
    <tree-branch [tree]="classTree" level="0" [selectElement]="selectClass.bind(this)"></tree-branch>
</div>
<div class="section" *ngIf="selectedClass && mapClassTree && mapClassTree[selectedClass]">
    <div>Свойства <span class="class_name">{{selectedClass}}</span>:</div>
    <table>
        <!--<ng-template *ngFor="let cl of mapClassTree[selectedClass] | keyvalue">
            <tr *ngIf="cl.key != 'children' && cl.key != 'name'">
                <td>{{cl.key}}:</td>
                <td>{{cl.value}}</td>
            </tr>
        </ng-template>-->
        <tr>
            <td>Суперкласс:</td>
            <td>{{mapClassTree[selectedClass].superClass}}</td>
        </tr>
        <tr>
            <td>Число кластеров:</td>
            <td>{{mapClassTree[selectedClass].clusterIds.length}}</td>
        </tr>
        <tr>
            <td>Число экземпляров:</td>
            <td>{{countEntities}}</td>
        </tr>
        <tr>
            <td>Потомки:</td>
            <td>{{selectedDirectChildren}}</td>
        </tr>
    </table>
</div>