<div class="section">
    <div>Дерево классов:</div>
    <tree-branch
        [tree]="conn.classesTree"
        level="0"
        [selectElement]="selectClass.bind(this)"
        [getSelectedClass]="getSelectedClass.bind(this)"
    ></tree-branch>
</div>

<div class="section" *ngIf="selectedClass">
    <div>Данные класса <span class="class_name">{{selectedClass}}</span>:</div>
    <table>
        <tr *ngIf="selectedClass != 'V' && selectedClass != 'E'">
            <td class="field_name">Суперкласс:</td>
            <td class="field_value">
                <autosized-textarea
                    placeholder="Имя суперкласса"
                    [value]="conn.classesMap[selectedClass].superClass"
                    (change)="alterSuperClass($event)"
                    (input)="checkInvalid($event, conn.classesMap[selectedClass].superClass, true, isNewSuperClassInvalid.bind(this))"
                ></autosized-textarea>
            </td>
        </tr>
        <tr>
            <td class="field_name">Число экземпляров:</td>
            <td class="field_value readonly">{{countEntities}}</td>
        </tr>
        <tr>
            <td class="field_name">Число экземпляров без учета подклассов:</td>
            <td class="field_value readonly">{{countDirectEntities}}</td>
        </tr>
        <tr>
            <td class="field_name">Потомки:</td>
            <td class="field_value readonly">{{selectedDirectChildren}}</td>
        </tr>
    </table>
</div>
<!--
<div class="section" *ngIf="selectedClass">
    <div>Доступные действия:</div>
    <app-icon-button title="Добавить класс в выделение" iconSrc="assets/img/add_to_selection.png"
        [callback]="addToSelection.bind(this)"></app-icon-button>
    <app-icon-button title="Исключить класс из выделения" iconSrc="assets/img/exclude_from_selection.png"
        [callback]="excludeFromSelection.bind(this)"></app-icon-button>
</div>-->

<div class="section" *ngIf="selectedClass">
    <div>Поля класса <span class="class_name">{{selectedClass}}</span>:</div>
    <table>
        <tr *ngFor="let cl of conn.classesMap[selectedClass].properties | keyvalue">
            <td class="field_name">
                <autosized-textarea
                    [value]="cl.key"
                    placeholder="Имя поля"
                    (change)="alterFieldName(cl.key, $event)"
                    (input)="checkInvalid($event, cl.key, true, isFieldNameInvalid.bind(this))"
                ></autosized-textarea>
            </td>
            <td class="field_value">
                <select class="masked_input" value="{{cl.value.type}}"
                    (change)="alterField(cl.key, 'type', $event.target.value)">
                    <option *ngFor="let type of conn.supportedTypes" [selected]="type == cl.value.type" 
                        value="{{type}}">{{type}}</option>
                </select>
                <tiny-button
                    title="Удалить поле"
                    iconSrc="assets/img/close.png"
                    [callback]="removeField.bind(this, cl.key)"
                ></tiny-button>
            </td>
        </tr>

        <tr *ngIf="fakeNewField">
            <td class="field_name">
                <autosized-textarea
                    placeholder="Имя поля" 
                    (change)="setNewFieldName($event)"
                    (input)="checkInvalid($event, newFieldName, true, isFieldNameInvalid.bind(this))"
                ></autosized-textarea>
            </td>
            <td class="field_value">
                <select value=""
                    (change)="setNewFieldType($event.target.value)"
                    class="full_width"
                >
                    <option selected disabled value="">Тип данных</option>
                    <option *ngFor="let type of conn.supportedTypes" value="{{type}}">{{type}}</option>
                </select>
                <tiny-button
                    title="Не создавать"
                    iconSrc="assets/img/close.png"
                    [callback]="hideFakeField.bind(this)"
                ></tiny-button>
            </td>
        </tr>
        <tr *ngIf="!fakeNewField">
            <td colspan=2 class="add_field">
                <tiny-button
                    iconSrc="assets/img/green_plus.png"
                    title="Создать новое поле"
                    [callback]="addFakeField.bind(this)"
                ></tiny-button>
            </td>
        </tr>
    </table>
</div>