<div class="section">
    <div>Дерево классов:</div>
    <tree-branch [tree]="classTree" level="0" [selectElement]="selectClass.bind(this)"></tree-branch>
</div>
<div class="section" *ngIf="selectedClass && mapClassTree && mapClassTree[selectedClass]">
    <div>Данные класса <span class="class_name">{{selectedClass}}</span>:</div>
    <table>
        <tr>
            <td>Суперкласс:</td>
            <td>{{mapClassTree[selectedClass].superClass}}</td>
        </tr>
        <tr>
            <td>Число кластеров:</td>
            <td>{{mapClassTree[selectedClass].clusterCount}}</td>
        </tr>
        <tr>
            <td>Число экземпляров:</td>
            <td>{{countEntities}}</td>
        </tr>
        <tr>
            <td>Число экземпляров без учета подклассов:</td>
            <td>{{countDirectEntities}}</td>
        </tr>
        <tr>
            <td>Потомки:</td>
            <td>{{selectedDirectChildren}}</td>
        </tr>
    </table>
    <app-icon-button title="Добавить класс в выделение" iconSrc="assets/img/add_to_selection.png"
        [callback]="addToSelection.bind(this)"></app-icon-button>
</div>
<div class="section" *ngIf="selectedClass && mapClassTree && mapClassTree[selectedClass]">
    <div>Поля класса <span class="class_name">{{selectedClass}}</span>:</div>
    <table>
        <tr>
            <td>Поле</td>
            <td>Тип</td>
        </tr>
        <tr *ngFor="let cl of mapClassTree[selectedClass].properties | keyvalue">
            <td>{{cl.key}}</td>
            <td>{{cl.value}}</td>
        </tr>
    </table>
</div>