:host {
    display: block;
    width: 100%;
}

.class_name {
    font-weight: bold;
    font-size: 10pt;
    font-family: monospace;
}

table {
    border-collapse: collapse;
    border-radius: 3px;
    margin: 5px auto;
    width: 95%;
}

td {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
    width: min(auto, 70%);
    overflow: auto;
    vertical-align: middle;
}

td:first-child {
    width: 30%;
    text-align: right;
}