:host {
    display: inline-block;
    font-family: monospace;
    font-size: 11pt;
    cursor: default;
}

.operator {
    display: inline;
    border-radius: 3px;
}

.operator:hover, .variable:hover {
    background-color: rgb(225, 218, 255);
    text-decoration: underline;
}

.root:hover {
    background-color: rgba(47, 0, 255, 0.05);
}

.root {
    /*background-color: rgba(47, 0, 255, 0.02);*/
}

.not_inline {
    border-left: 1px solid grey;
    padding-left: 20px;
    display: block;
}

.syntax-keyword {
    color: #6b3796;
}

.syntax-operator {
    color: #5a4929;
}

.syntax-extractor {
    color: #36776c;
}

.syntax-string {
    color: #851c1c;
}

.syntax-date {
    color: #aa4908;
}

.syntax-boolean {
    color: #0d4ace;
}

.syntax-number {
    color: #238130;
}
/*
SELECT edges WHERE 
    isLoop OR 
        (`speed` < 5
        XOR
        (
            `speed` > 7
            AND
                (isSimple
                OR
                NOT inDegree < 2)
            AND
            `cost` = 5
        )
    ) 


    ((SELECT edges).connectedNodes).intersect(SELECT nodes WHERE `создан` < '2018-01-01')
*/