:host {
    display: inline-block;
    vertical-align: middle;
}

.icon_button {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 2px;
    background-color: #eeeeee;
    border: 1px solid grey;
    border-radius: 3px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: default;
}

.icon_button:hover {
    background-color: #fefefe;
}

.icon_button_active {
    background-color: rgb(197, 234, 255);
}

.icon_button_active:hover {
    background-color: rgb(215, 241, 255);
}