<div id="twocolumned">
  <div id="instrument_panel">
    <div>
      <div class="instrument_panel_category" [class.category_selected]="openedCategory == 'edit'" (click)="switchCategory('edit')">Инструмент</div>
      <div class="instrument_panel_category" [class.category_selected]="openedCategory == 'selection'" (click)="switchCategory('selection')">Выделение</div>
      <div class="instrument_panel_category" [class.category_selected]="openedCategory == 'classes'" (click)="switchCategory('classes')">Классы</div>
      <div class="instrument_panel_category" [class.category_selected]="openedCategory == 'view'" (click)="switchCategory('view')">Вид</div>
      <!--<div class="instrument_panel_category" [class.category_selected]="openedCategory == 'file'" (click)="switchCategory('file')">Файл</div>-->
      <tiny-button
        title="Сохранить проект"
        iconSrc="assets/img/save.png"
        [callback]="saveProjectListener.bind(this)"
        [disabled]="saveDisabled()"
      ></tiny-button>
      <tiny-button
        title="Сохранить как"
        iconSrc="assets/img/saveas.png"
        [callback]="saveAsProjectListener.bind(this)"
      ></tiny-button>
      <tiny-button
        title="Импорт"
        iconSrc="assets/img/import.png"
        [callback]="switchDialog.bind(this, 'import_dialog')"
      ></tiny-button>
      <tiny-button
        title="Восстановить из сохранения"
        iconSrc="assets/img/reload.png"
        [disabled]="saveDisabled()"
        [callback]="restoreProjectFromDisk.bind(this)"
      ></tiny-button>
      <tiny-button
        title="Закрыть проект"
        iconSrc="assets/img/close.png"
        [callback]="closeProjectListener.bind(this)"
      ></tiny-button>
    </div>
    <div id="instrument_panel_content">
      <div class="center_block">
        <div class="icon_button_container" *ngIf="openedCategory == 'file'">
            <!--<app-tile-button
              text="Сохранить проект"
              iconSrc="assets/img/save.png"
              [disabled]="saveDisabled.bind(this)"
              [callback]="saveProjectListener.bind(this)"
            ></app-tile-button>
            <app-save-file-tile-button
              text="Сохранить как"
              iconSrc="assets/img/saveas.png"
              [selectFolders]="false"
              [multiselection]="false"
              [callback]="saveAsProjectListener.bind(this)"
            ></app-save-file-tile-button>
            <app-tile-button
              text="Импорт"
              iconSrc="assets/img/import.png"
              [callback]="switchDialog.bind(this, 'import_dialog')"
            ></app-tile-button>
            <app-tile-button
              text="Восстановить из сохранения"
              iconSrc="assets/img/reload.png"
              [disabled]="saveDisabled.bind(this)"
              [callback]="restoreProjectFromDisk.bind(this)"
            ></app-tile-button>
            <app-tile-button
              text="Закрыть проект"
              iconSrc="assets/img/close.png"
              [callback]="closeProjectListener.bind(this)"
            ></app-tile-button>-->
        </div>
      </div>
      <edit-category
        *ngIf="openedCategory == 'edit'"
        [selection]="selection"
        [toolById]="toolById"
        [activeToolId]="activeToolId"
      ></edit-category>
      <selection-category
        *ngIf="openedCategory == 'selection'"
        [selection]="selection"
        [toolById]="toolById"
        [activeToolId]="activeToolId"
      ></selection-category>
      <app-classes-category
        *ngIf="openedCategory == 'classes'"
        [selection]="selection"
      ></app-classes-category>
      <view-category
        *ngIf="openedCategory == 'view'"
        [cy]="cy"
      ></view-category>
    </div>
  </div>
  <div id="graph_field" #graph_field></div>
</div>

<div id="floating_control">
  <app-loading *ngIf="isRendering"></app-loading>
  <div *ngIf="!isRendering">
    <div *ngFor="let id of controlsToolList">
      <app-icon-button
        [title]="toolById[id].title"
        [iconSrc]="toolById[id].icon"
        [active]="isActiveTool(id)"
        [callback]="setTool.bind(this, id)"
      ></app-icon-button>
    </div>
  </div>
</div>

<div class="loading_voile_full_screen" *ngIf="mainDialog">
  <div class="vertical_spacer"></div>
  <div class="main_dialog vertical_spacer_el_middle" *ngIf="mainDialog == 'import_dialog'">
    <h1>Импорт - добавить к текущему графу</h1>
    <app-filepath-selector
      [callback]="importProjectPathUpdateCallback"
      [selectFolders]="false"
      [multiselection]="false"
    ></app-filepath-selector>
    <div class="form_error" *ngIf="!importPath">
      Обязательное поле.
    </div>
    <input type="button" value="Отмена" (click)="switchDialog('')">
    <input type="button" value="Открыть" (click)="importMerge()"
      *ngIf="importFileExists() && importPath">
  </div>
</div>