<label class="switch vertical_spacer_el_middle" title="{{title}}">
    <input
        type="checkbox"
        (change)="setValue(!currentValue)">
    <span
        [class.unset]="currentValue === ''"
        [class.checked]="currentValue === true"
        class="slider round"
    ></span>
</label>
<div class="vertical_spacer_el_middle">
    <tiny-button
        [ngStyle]="(currentValue === '') && {'visibility': 'hidden'}"
        title="Сбросить значение"
        iconSrc="assets/img/clear.png"
        [callback]="setValue.bind(this, '')"
    ></tiny-button>
</div>
<div class="vertical_spacer"></div>